
/**
  Global
*/
:root {
    /* color list */
    --color-primary: rgb(220, 220, 220);
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #f7f7f7;
    --color-bg: #f0ece1;
    --color-detail-bg: #f6f6f6;
    --color-name: #333333;
    --color-pink: #fecad6;
    --color-green: #21a664;
    --color-blue: #2c5dab;
    --color-blue2: #2a5ea5;
    --color-sky: #dfe7f2;
    --color-red: #f15b41;
    --color-yellow: #f6e163;
}

/**
      Commons
    */
* {
    box-sizing: border-box;
    /* font-family: "PP Pangram Sans"; */
}

.header,
.footer,
.content,
body,
div,
nav,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

.header,
.footer,
.content {
    width: 100%;
    margin: auto;
}
.product-container {
    padding: 32px;
  }
  .content-title {
    font-size: 50px;
    padding-bottom: 16px;
    font-weight: bold;
  }

/**************************************************************************/
.product_feature-container {
  margin: auto;
  width: 100%;
  background-color: var(--color-gray);
}

.product_feature-container h2 {
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  padding: 25px 0;
  text-align: center;
}

.product_feature_list {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개씩 한 줄 */
  gap: 30px; /* 이미지 간격 조정 */
  justify-items: center; /* 모든 아이템을 가운데 정렬 */
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.product_feature_list div {
  text-align: center; /* 텍스트 중앙 정렬 */
}

.product_feature_list img {
  width: 200px; /* 이미지 크기 줄이기 */
  height: auto; /* 비율 유지 */
  background-color: white;
  border-radius: 25px; /* 모서리 둥글게 */
  object-fit: contain; /* 이미지가 왜곡되지 않도록 */
}

.product_feature_list p {
  font-size: 30px; /* 폰트 크기 키우기 */
  margin-top: 10px; /* 이미지와 텍스트 간격 */
}



@media only screen and (max-width: 1023px) and (min-width: 769px){

}